### __Data Cleaning__

Data can be collected from a variety of sources and in a wide range of formats. Examples include:
*  Scraping raw data from public databases online
* collecting log/usage info from customers of website
* downloading social media user patterns and behavior
* gathering sensory data from embedded devices and sensors

> It is our job as data scientit to transform the data that can come in all shapes and sizes into something reliable, clean, and useful for gaining insights and taking action. 

**"data scientists spend 50% to 80% of their time cleaning and manipulating data, and the rest building and furnishing models."

**Data Cleaning** is the process of detecting problems in data, and utilizing a series of techniques to deal with them. 

This is an important skillset to have as not all data that we will work with will be "nice" data that is easy to plug in to a model. 

>__Potential Problems__
* duplicate entries
* irrelevant data for task at hand
* structural problems, ints stored as text, consisistently formatted dates
* missing values - reduces # of data points we can work with, meaning we lose valuable information

In this checkpoint, we learned how to detect problems with data and a few techniques for dealing with missing values

### __Youtube Dataset__

In [12]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [13]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'youtube'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

youtube_df = pd.read_sql_query('select * from youtube',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

__Getting to know our data__

In [14]:
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

We have 5000 observations and 6 columns. Video views is the only integer column and the rest appear to be text. However, this is not the case.

In [4]:
youtube_df.head()

  Rank Grade                Channel name Video Uploads Subscribers  Video views
0  1st  A++                       Zee TV         82757    18752951  20869786591
1  2nd  A++                     T-Series         12661    61196302  47548839843
2  3rd  A++   Cocomelon - Nursery Rhymes           373    19238251   9793305082
3  4th  A++                    SET India         27323    31180559  22675948293
4  5th  A++                          WWE         36756    32852346  26273668433

We can see that Video Uploads and Subscribers are also numeric.

__Detecting missing values__

.isnull() function returns true if an element has no value and returnse False or None for each element in DataFrme

In [7]:
youtube_df.isnull()

       Rank  Grade  Channel name  Video Uploads  Subscribers  Video views
0     False  False         False          False        False        False
1     False  False         False          False        False        False
2     False  False         False          False        False        False
3     False  False         False          False        False        False
4     False  False         False          False        False        False
...     ...    ...           ...            ...          ...          ...
4995  False  False         False          False        False        False
4996  False  False         False          False        False        False
4997  False  False         False          False        False        False
4998  False  False         False          False        False        False
4999  False  False         False          False        False        False

[5000 rows x 6 columns]

From a previous checkpoint, we know that although each record is not entirely blank and flagged as False, we can have some missing values represented under something else, in our case, --

In [8]:
# Let's look at unique values for each column:

for column_name in youtube_df.columns:
  print("Unique values in column {} are: {}".format(column_name, youtube_df[column_name].unique()))

Unique values in column Rank are: ['1st' '2nd' '3rd' ... '4,998th' '4,999th' '5,000th']
Unique values in column Grade are: ['A++ ' 'A+ ' 'A ' '\xa0 ' 'A- ' 'B+ ']
Unique values in column Channel name are: ['Zee TV' 'T-Series' 'Cocomelon - Nursery Rhymes' ... 'Mastersaint'
 'Bruce McIntosh' 'SehatAQUA']
Unique values in column Video Uploads are: ['82757' '12661' '373' ... '1735' '706' '3475']
Unique values in column Subscribers are: ['18752951' '61196302' '19238251' ... '3265735' '32990' '21172']
Unique values in column Video views are: [20869786591 47548839843  9793305082 ...   311758426    14563764
    73312511]

Looking for missing value alternative is like looking for a needle in a haystack.

We can hack a solution to utilize data types to our advantage.

We'll first convert *Video Uploads* and *Subscribers* to numeric.

In [9]:
# print all values that cannot be converted to float
for column_name in ["Video Uploads", "Subscribers"]:
  print("These are the problematic values for the variable: {}".format(column_name))
  for value in youtube_df[column_name]:
    try:
      float(value)
    except:
      print(value)

These are the problematic values for the variable: Video Uploads
--
--
--
--
--
--
These are the problematic values for the variable: Subscribers
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--

In [15]:
# Let's convert these records into empty strings then convert variables to float
youtube_df["Video Uploads"] = youtube_df["Video Uploads"].apply(str.strip).replace("--", np.nan)
youtube_df["Video Uploads"] = pd.to_numeric(youtube_df["Video Uploads"], downcast="float")

youtube_df["Subscribers"] = youtube_df["Subscribers"].apply(str.strip).replace("--", np.nan)
youtube_df["Subscribers"] = pd.to_numeric(youtube_df["Subscribers"], downcast="float")

In [16]:
# Check that Video Uploads and Subscribers columns are type float
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  4994 non-null   float32
 4   Subscribers    4613 non-null   float32
 5   Video views    5000 non-null   int64
dtypes: float32(2), int64(1), object(3)
memory usage: 195.4+ KB

In [17]:
youtube_df.isnull()

       Rank  Grade  Channel name  Video Uploads  Subscribers  Video views
0     False  False         False          False        False        False
1     False  False         False          False        False        False
2     False  False         False          False        False        False
3     False  False         False          False        False        False
4     False  False         False          False        False        False
...     ...    ...           ...            ...          ...          ...
4995  False  False         False          False        False        False
4996  False  False         False          False        False        False
4997  False  False         False          False        False        False
4998  False  False         False          False        False        False
4999  False  False         False          False        False        False

[5000 rows x 6 columns]

Let's calculate the percentage of the missing values in all columns.

In [18]:
youtube_df.isnull().sum()*100/youtube_df.isnull().count()

Rank             0.00
Grade            0.00
Channel name     0.00
Video Uploads    0.12
Subscribers      7.74
Video views      0.00
dtype: float64

We identified and fixed the missing values that lurked in Video Uploads and Subscribers even though our initial familiariziation with the data did not detect any null values.

Let's print the frequencies of each value for our columns

In [20]:
youtube_df.Grade.value_counts()

B+      2956
A-      1024
A        963
A+        41
A++       10
           6
Name: Grade, dtype: int64

It would appear we have empty string values that include trailing spaces. 

Let's convert these records to null values

In [22]:
youtube_df.Grade.unique()

array(['A++ ', 'A+ ', 'A ', '\xa0 ', 'A- ', 'B+ '], dtype=object)

In [23]:
youtube_df.Grade = youtube_df.Grade.apply(str.strip).replace("", np.nan)

youtube_df.Grade.unique()

array(['A++', 'A+', 'A', nan, 'A-', 'B+'], dtype=object)

>__Approaches to handling missing values__
* disregard rows with missing values - tossing affected rows should be avoided unless we believe we're not nosing significant information in records we'd be discarding.
* filling missing values with unharmful values - preferred method, more common approach

__Filling missing values in a continuous variable__

Continuous variables can take an unlimited number of different values. 

Common filling approaches:
* mean, median, and mode (also known as __imputation__)
* interpolation - populate missing values using representative values from similar rows; popular approach for time series data
 * linear
 * quadratic
 * cubic

In [24]:
youtube_df["Video Uploads"].fillna(youtube_df["Video Uploads"].mean(), inplace=True)
youtube_df["Subscribers"].fillna(youtube_df["Subscribers"].mean(), inplace=True)

youtube_df.isnull().sum()*100/youtube_df.count()

Rank             0.000000
Grade            0.120144
Channel name     0.000000
Video Uploads    0.000000
Subscribers      0.000000
Video views      0.000000
dtype: float64

__Missing values in categorical variable__

1. create new category for missing values like other or unknown
2. try to find a suitable category among the existing ones

In [25]:
# fill in missing values in Category with the the value of the next highest-ranked channel's category

grade_list = youtube_df.Grade

for i in range(0, len(youtube_df.Grade)):
    if pd.isnull(youtube_df.Grade[i]):
        youtube_df.Grade[i] = youtube_df.Grade[i-1]
        
youtube_df["Grade"].unique()

array(['A++', 'A+', 'A', 'A-', 'B+'], dtype=object)

In [26]:
youtube_df.isnull().sum()*100/youtube_df.count()

Rank             0.0
Grade            0.0
Channel name     0.0
Video Uploads    0.0
Subscribers      0.0
Video views      0.0
dtype: float64